.app-footer {
  position: relative;
  height: 120px;
  width: 100%;
  margin-top: 80px;
  background-color: #e0f2f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.mat-h2 {
  color: #757575;
}

.space {
  flex: 1 1 auto;
}

.center {
  text-align: center;
}
