.box button {
  width: 100%;
  color: white;
}

.box {
  padding: 8px 16px;
}

.full-width {
  width: 100%;
}

.main {
  padding-top: 12px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0;
}
