.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 1rem;
}

@media (max-width: 992px) {
  .address {
    grid-template-columns: 1fr;
  }
}

.button {
  grid-column-start: 1;
}

.button button {
  color: white;
  width: 100%;
}
