<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(handsetService.isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(handsetService.isHandset$ | async) ? 'over' : 'side'" opened="false">
    <!-- [opened]="(handsetService.isHandset$ | async) === false" -->

    <!-- <mat-toolbar >Menu</mat-toolbar> -->
    <app-side-menu></app-side-menu>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="handsetService.isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="main-menu__left">
        <app-top-menu [menu]="menu" baseUrl="/group" *ngFor="let menu of topMenu"></app-top-menu>
      </div>
      国宇出版


      <span class="space"></span>

      <form class="item" [formGroup]="searchForm" (ngSubmit)="search()">
        <mat-form-field appearance="fill" class="search">
          <input matInput formControlName="word" placeholder="检索">
        </mat-form-field>

        <button mat-icon-button [disabled]="!searchForm.valid">
          <mat-icon>search</mat-icon>
        </button>
      </form>

      <a mat-icon-button routerLink="/cart" matTooltip="购物车">
        <mat-icon>shopping_cart</mat-icon>
      </a>


    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>


</mat-sidenav-container>
