<div class="box">
  <div class="check-page">

    <div>
      <mat-vertical-stepper [linear]="isLinear">
        <mat-step [stepControl]="addressForm.addressForm">
          <ng-template matStepLabel><h2>收货地址</h2></ng-template>
          <app-address #addressForm></app-address>
          <!-- <div>
            <button mat-raised-button color="accent" matStepperNext>下一步</button>
          </div> -->
        </mat-step>

        <mat-step [stepControl]="receiptForm.receiptForm">
          <ng-template matStepLabel><h2>发票信息</h2></ng-template>
          <app-receipt #receiptForm></app-receipt>
        </mat-step>

        <mat-step [stepControl]="checkTypeForm.checkTypeForm">
          <ng-template matStepLabel><h2>支付方式</h2></ng-template>
          <app-check-type #checkTypeForm></app-check-type>
          <div class="button">
            <button mat-raised-button color="accent" matStepperNext type="button"
            [disabled]="!checkTypeForm.checkTypeForm.valid" (click)="placeOrder()">
              <h3>下一步</h3>
            </button>
          </div>
        </mat-step>


      </mat-vertical-stepper>



    </div>


    <div *ngIf="!isSmallScreen">
      <div class="cart-list">
        <app-cart-list></app-cart-list>
      </div>
    </div>
  </div>

</div>

