<h3 class="mat-h3">已选</h3>
  <mat-list>
    <mat-list-item *ngFor="let item of items">
      <img matListAvatar [src]="item.main_img" [alt]="item.name">
      <h3 matLine class="mat-h3 maxLenth">{{ item.name }}</h3>
      <p matLine>
        {{ item.quantity }}本（套），价格{{ item.price * item.quantity / 100 | currency:'CNY':'symbol-narrow' }}
      </p>
    </mat-list-item>
    <mat-list-item>
      <h3 class="mat-h3">总价：<span class="accent">{{ getTotalCost() / 100 | currency:'CNY':'symbol-narrow' }}</span></h3>
    </mat-list-item>
  </mat-list>
