<div class="mat-typography content">
  <h2>我的</h2>
  <h3>找回密码</h3>
  <form [formGroup]="getbackPasswordForm" (ngSubmit)="getbackPassword()">
    <mat-form-field class="full-width">
      <input matInput placeholder="您注册时使用的邮箱" formControlName="emailFormControl">
      <mat-error
        *ngIf="email.hasError('email') && !email.hasError('required')">
        请输入一个能用的邮箱地址
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        邮箱<strong>必填</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="!getbackPasswordForm.valid">找回密码</button>
  </form>
</div>
